@import "/src/styles/mixins/padding.scss";
@import "/src/styles/mixins/colors.scss";
@import "/src/styles/mixins/responsive.scss";
@import "/src/styles/mixins/fonts.scss";

.container {
    @include Padding;
    @include SizeLarge;
    background-color: $purple-3-color;
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    @include Phone {
        grid-template-columns: 1fr;
        padding-top: 1rem;
        display: block;
    }
}

.column {
    margin-top: 4.5rem;

    &.columnPrincipal {
        margin-top: 4.5rem;

        @include Phone {
            margin-top: 1rem;
        }
    }


    .title {
        @include SizeNormal;
        color: $white-color;
    }

    h1 {
        @include SizeSmall;
        color: $green-2-color;

        @include Phone {
            margin-top: 25px
        }
    }

    p {
        @include SizeSmall;
    }

    &.alignRight {
        text-align: right;
    }
    
    .icons {
        display: inline-grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
        align-items: center;
        justify-content: center;
    }

    @include Phone {
        margin-top: 0px;
    }

    &.alignRight {
        text-align: left;
    }
}

.allRightReserved {
    @include SizeSmall;
    padding: 6rem 0 1rem;
    color: $gray-color;
    grid-column: span 4;
    text-align: center;

    @include Phone {
        grid-column: 1fr;
        padding: 3rem 0 1rem;
    }
}