$purple-color:  #380158;
$purple-2-color:#350053;

$green-color:   #0DC74F;
$green-2-color: #0FCE33;
$green-3-color: #0AAA28;

$white-color:   #FFFFFF;
$gray-color:    #4A4A4A;
$gray-2-color:  #AFAFAF;
$gray-3-color:  #C9C9C9;
$gray-4-color:  #F7F7F7;
$gray-5-color:  #606060;